@font-face {
    font-family: "Maison Neue";
    src: url("../fonts/MaisonNeueWEB-Book.woff2") format("woff2"),
         url("../fonts/MaisonNeueWEB-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maison Neue";
    src: url("../fonts/MaisonNeueWEB-Medium.woff2") format("woff2"),
         url("../fonts/MaisonNeueWEB-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Maison Neue";
    src: url("../fonts/MaisonNeueWEB-Bold.woff2") format("woff2"),
         url("../fonts/MaisonNeueWEB-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

