@font-face {
    font-family: "Pangea";
    src: url("../fonts/Pangea-Regular.woff2") format("woff2"),
         url("../fonts/Pangea-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pangea";
    src: url("../fonts/Pangea-SemiBold.woff2") format("woff2"),
         url("../fonts/Pangea-SemiBold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pangea";
    src: url("../fonts/Pangea-SemiBold.woff2") format("woff2"),
         url("../fonts/Pangea-SemiBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

